{#
/**
 * @file overwatch_season.html.twig
 * Default theme implementation to present Overwatch season data.
 *
 * This template is used when viewing Overwatch season pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_overwatch_season()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('overwatch_season') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
