#block-overwatch-analytics-theme-main-menu {
  > ul {
    @include list-unstyled;
    display: flex;

    > li {
      flex: 0 1 auto;

      > a {
        text-align: center;
        color: hsla(0,0%,100%,.7);
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        line-height: 55px;
        padding: 0 gap(2);
        &:hover {
          color: theme-color('secondary');
        }
      }
    }
  }
}

#block-overwatch-analytics-theme-page-title {
  h1 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: gap(4);
  }
}