.region--navigation {
  position: fixed;
  //top: gap(2);
  width: inherit;
  z-index: 100;
  top: 0;
  grid-area: navigation;

  .toolbar-horizontal.toolbar-fixed & {
    top: 80px;
  }

  .toolbar-vertical.toolbar-fixed & {
    top: 39px;
  }

  .container {
    background: rgba(black, .75);
    display: grid;
    grid-gap: gap(2);
    grid-template-columns: repeat(12, 1fr);

    .block--system-branding-block {
      grid-column: span 3;

      a {
        display: block;
        padding: gap();
      }
    }

    #block-overwatch-analytics-theme-main-menu {
      grid-column: span 6;
    }

    #block-navigation-auth-block {
      grid-column: span 2;
    }
  }
}