.region--navigation {
  position: fixed;
  //top: gap(2);
  width: inherit;
  z-index: 100;
  top: 0;

  .toolbar-horizontal.toolbar-fixed & {
    top: 80px;
  }

  .toolbar-vertical.toolbar-fixed & {
    top: 39px;
  }

  .container {
    background: rgba(black, .75);
    display: flex;

    .block--system-branding-block {
      flex: 0 1 span(3);
      margin-right: gutter();

      a {
        display: block;
        padding: gap();
      }
    }

    #block-overwatch-analytics-theme-main-menu {
      flex: 0 1 span(6);
    }

    #block-navigation-auth-block {
      flex: 0 1 span(2);
    }
  }
}